/* Coolors Exported Palette - https://coolors.co/345995-000500-a4d4b4-ffcf9c-b7c0ee */

/* SCSS HEX */
$bdazzled-blue: #345995ff;
$rich-black-fogra-39: #000500ff;
$turquoise-green: #a4d4b4ff;
$deep-champagne: #ffcf9cff;
$lavender-blue: #b7c0eeff;
$dark-jungle-green: #0d1f22ff;
$beau-blue: #b9cddaff;
$metallic-seaweed: #087e8bff;
$ruby-red: #9b1d20ff;
$xanadu: #6b7d7dff;

/* SCSS HSL */
$bdazzled-blue: hsla(217, 48%, 39%, 1);
$rich-black-fogra-39: hsla(120, 100%, 1%, 1);
$turquoise-green: hsla(140, 36%, 74%, 1);
$deep-champagne: hsla(31, 100%, 81%, 1);
$lavender-blue: hsla(230, 62%, 83%, 1);
$dark-jungle-green: hsla(189, 45%, 9%, 1);
$beau-blue: hsla(204, 31%, 79%, 1);
$metallic-seaweed: hsla(186, 89%, 29%, 1);
$ruby-red: hsla(359, 68%, 36%, 1);
$xanadu: hsla(180, 8%, 45%, 1);

/* SCSS RGB */
$bdazzled-blue: rgba(52, 89, 149, 1);
$rich-black-fogra-39: rgba(0, 5, 0, 1);
$turquoise-green: rgba(164, 212, 180, 1);
$deep-champagne: rgba(255, 207, 156, 1);
$lavender-blue: rgba(183, 192, 238, 1);
$dark-jungle-green: rgba(13, 31, 34, 1);
$beau-blue: rgba(185, 205, 218, 1);
$metallic-seaweed: rgba(8, 126, 139, 1);
$ruby-red: rgba(155, 29, 32, 1);
$xanadu: rgba(107, 125, 125, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-right: linear-gradient(90deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-bottom: linear-gradient(180deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-left: linear-gradient(270deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-top-right: linear-gradient(45deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-bottom-right: linear-gradient(135deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-top-left: linear-gradient(225deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-bottom-left: linear-gradient(315deg, #345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-radial: radial-gradient(#345995ff, #000500ff, #a4d4b4ff, #ffcf9cff, #b7c0eeff);
$gradient-top: linear-gradient(0deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-right: linear-gradient(90deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-bottom: linear-gradient(180deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-left: linear-gradient(270deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-top-right: linear-gradient(45deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-bottom-right: linear-gradient(135deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-top-left: linear-gradient(225deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-bottom-left: linear-gradient(315deg, #0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);
$gradient-radial: radial-gradient(#0d1f22ff, #b9cddaff, #087e8bff, #9b1d20ff, #6b7d7dff);